# Project information
site_name: 'Colyseus 0.14'
site_description: 'Documentation for Colyseus Multiplayer Framework for Node.js'
site_author: 'Endel Dreyer'
site_url: 'https://colyseus.io/'
edit_uri: 'https://github.com/colyseus/docs/edit/master/docs/'

# Deployment
remote_name: 'origin'
remote_branch: 'gh-pages'

# Repository
repo_name: 'colyseus/colyseus'
repo_url: 'https://github.com/colyseus/colyseus'

# Copyright

copyright: 'Copyright &copy; 2021 Lucid Sight'
google_analytics: ['UA-108278048-3', 'docs.colyseus.io']

# Documentation and theme
theme:
  name: 'material'
  language: 'en'
  logo: 'images/logo-white.png'
  favicon: 'images/favicon.png'
  palette:
    primary: 'indigo'
    accent: 'indigo'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'

extra_css:
  - 'stylesheets/code-tabs.css'
  - 'stylesheets/ads.css'

extra_javascript:
  - 'javascripts/main.js'
  - 'https://docs.colyseus.io/javascripts/previous_versions.js'
  # - 'javascripts/ads.js'

# Options
extra:
  search:
    language: 'en'
  social:
  - type: 'comments'
    link: 'https://discuss.colyseus.io'
  - type: 'globe'
    link: 'http://colyseus.io'
  - type: 'github'
    link: 'https://github.com/colyseus'
  - type: 'twitter'
    link: 'https://twitter.com/colyseus'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      linenums: False
      guess_lang: False
  - toc:
      permalink: True
  - markdown_fenced_code_tabs:
      single_block_as_tab: False
      active_class: 'active'
      template: 'default'

# Nav menu
nav:
- 'Getting started': 'index.md'
- 'Client-side SDK':
  - 'Installation':
    - 'Unity': 'getting-started/unity3d-client.md'
    - 'JavaScript': 'getting-started/javascript-client.md'
    - 'Defold Engine': 'getting-started/defold-client.md'
    - 'Haxe': 'getting-started/haxe-client.md'
    - 'Cocos2d-x': 'getting-started/cocos2dx-client.md'
    - 'Construct3': 'getting-started/construct3-client.md'
  - 'API':
    - 'Client': 'client/client.md'
    - 'Room': 'client/room.md'

- 'Server API':
  - 'Server': 'server/api.md'
  - 'Room': 'server/room.md'
  - 'Client': 'server/client.md'
  - 'Timing events': 'server/timing-events.md'
  - 'Match-maker API': 'server/matchmaker.md'
  - 'Authentication API': 'server/authentication.md'
  - 'Presence': 'server/presence.md'
  - 'Graceful shutdown': 'server/graceful-shutdown.md'
  # - 'Custom State Serialization': 'server/state-serialization.md'

- 'State Handling':
  - 'Overview': 'state/overview.md'
  - 'Schema': 'state/schema.md'
  - 'Fossil Delta (deprecated)': 'state/fossil-delta.md'

- 'Built-in Rooms':
  - 'Lobby room': 'builtin-rooms/lobby.md'
  - 'Relay room': 'builtin-rooms/relay.md'

- 'Best practices':
  - 'Overview': 'best-practices/overview.md'
  - 'The Command Pattern': 'best-practices/command-pattern.md'

- "Tools":
  - "Monitoring Panel": 'tools/monitor.md'
  - "Load Testing": 'tools/loadtest.md'
  - "Authentication + Social": 'tools/colyseus-social.md'

- 'Debugging': 'debugging.md'
- 'Deployment': 'deployment.md'
- 'Scalability': 'scalability.md'

- "How-to":
  - 'Customize room id': 'how-to/custom-room-id.md'
  - 'Password-protect a room': 'how-to/password-protect-room.md'
  - 'Deny a player to join a room': 'how-to/deny-player-join-a-room.md'
  - 'Rate-limit': 'how-to/rate-limit.md'

- 'Migrating':
  - '0.14': 'migrating/0.14.md'
  - '0.13': 'migrating/0.13.md'
  - '0.12': 'migrating/0.12.md'
  - '0.11': 'migrating/0.11.md'
  - '0.10': 'migrating/0.10.md'
  - '0.9': 'migrating/0.9.md'

- "Tech Demos":
  - 'Shooting Gallery': 'demo/shooting-gallery/index.md'

- 'FAQ': 'faq.md'
