{% extends "main.html" %}

{% block content %}
    <script type="text/javascript">
        var segmentsForRedirect = [
            '/best-practices',
            '/builtin-rooms',
            '/client',
            '/demo',
            '/getting-started',
            '/how-to',
            '/migrating',
            '/server',
            '/state',
            '/tools',
            '/debugging',
            '/deployment',
            '/faq',
            '/scalability',
        ];

        segmentsForRedirect.forEach(function(segmentForRedirect) {
            if (window.location.pathname.startsWith(segmentForRedirect)) {
                // keep old links redirecting to new page
                window.location.href = '/colyseus' + window.location.pathname + window.location.hash;
            }
        });
    </script>

    <h1>404 - Not found</h1>
{% endblock %}

{% block disqus %}{% endblock %}