# Requirements for core
jinja2~=3.1
markdown~=3.4
mkdocs~=1.5
mkdocs-material-extensions~=1.1
pygments~=2.16
pymdown-extensions~=10.3

# Plugins
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-git-committers-plugin-2>=1.1.2

# Requirements for plugins
colorama>=0.4
regex>=2022.4.24
requests>=2.26
lxml~=4.9.2
