.md-header {
  background: #7540f0 !important;
}

/* .md-fenced-code-tabs {
  background: #fff;
  border: 1px solid #ebebeb;
  margin: 16px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.md-fenced-code-tabs > .nav-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ebebeb;
  height: 48px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.md-fenced-code-tabs > .nav-tabs > li {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  height: 47px;
  max-width: 200px;
  margin: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.md-fenced-code-tabs > .nav-tabs > li.active {
  border-bottom-color: #039be5;
}

.md-fenced-code-tabs > .nav-tabs > li > a {
  color: #757575;
  font: 500 14px/43px sans-serif;
}

.md-fenced-code-tabs > .nav-tabs > li > a:hover,
.md-fenced-code-tabs > .nav-tabs > li > a:focus,
.md-fenced-code-tabs > .nav-tabs > li.active > a,
.md-fenced-code-tabs > .nav-tabs > li.active > a:hover,
.md-fenced-code-tabs > .nav-tabs > li.active > a:focus {
  text-decoration: none;
  color: #039be5;
}

.md-fenced-code-tabs > .tab-content > .tab-pane {
  display: none;
}

.md-fenced-code-tabs > .tab-content > .active {
  display: block;
}

.md-fenced-code-tabs > .tab-content > .tab-pane:before {
    content: none !important;
}

.md-fenced-code-tabs > .tab-content > .tab-pane > .codehilite {
    margin-top: 0;
    margin-bottom: 0;
} */

.md-fenced-code-tabs * {
  box-sizing: border-box;
}

.md-fenced-code-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.md-fenced-code-tabs input {
  position: absolute;
  opacity: 0;
}

.md-fenced-code-tabs label {
  font-size: 14px;
  width: auto;
  padding: 4px;
  cursor: pointer;
  color: #aaa;

  position: relative;
  display: inline-block;
  /* border-top: 2px solid #ebebeb; */
  border-bottom: 2px solid #ebebeb;
  max-width: 200px;
  margin: 0 4px 0 0;
  overflow: hidden;
  padding: 12px 24px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.md-fenced-code-tabs input:checked + label {
  color: #039be5;
  border-bottom-color: #039be5;
}

.md-fenced-code-tabs .code-tabpanel {
  display: none;
  width: 100%;
  order: 99;
}

.md-fenced-code-tabs input:checked + label + .code-tabpanel {
  display: block;
}

.md-fenced-code-tabs pre,
.md-fenced-code-tabs .codehilite {
  width: 100%;
  margin: 0px;
}