.top-ads {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: .1rem dotted rgba(0,0,0,.26);
  padding-bottom: 1em;
  margin-bottom: 2.5em;
}

.top-ads > a {
  flex: 1;
  padding: 1em;
  text-align: center;
}

.md-content {
  /* position: relative; */
}

/*
.md-nav.md-nav--secondary {
  height: calc(100vh - 280px);
}
*/

#ethical_ad {
  position: fixed;
  right: 3em;
  bottom: 1em;
  z-index: 9999;
}
#ethical_ad .ea-content {
  background: rgb(245, 245, 245) !important;
}

/* hide ads on mobile */
@media screen and (max-width: 768px) {
  #ethical_ad { display: none; }
}
